.nav-main-top {
  background-color: #f7f7f7;
}
.nav-main-bottom {
  background-color: #ebebeb;
}

/* .nav {
    height: 40px;
  } */

.nav-links {
  font-size: 12px;
}

.nav-links {
  display: inline-block;
  margin-right: -8px;

  /* font-size: 12px;
  height: 30px;
  margin-top: -4px; */
}

.nav-links-active {
  display: inline-block;
  font-size: 12px;
  /* height: 30px; */
  /* margin-top: -4px; */
}

.nav a {
  /* padding-top: 2px; */
  color: rgb(29, 28, 28);
}

.nav a :hover {
  color: black;
  background-color: #ce2121;
}

/* .sub-menu {
  padding-left: -40px;
} */
.nav.nav-tabs .nav-link {
  font-size: 12px;
  padding-top: 2px;
  padding-top: 2px;
  border-bottom: none;
}

.nav.nav-tabs .nav-link.active {
  background-color: #f7f7f7;
}
